.button{
    text-transform: uppercase;
    
    border-radius: 25px;
    transition: .3s;
    letter-spacing: 1.4px;
    &--lit{
        font-size: 12px;
    }
    &--black{
        background-color: $black;
        color: $white;
        &:hover{
            background-color: $blue;
        }
    }
}