.contacts{
    &__adress{
        font-size: 16px;
        letter-spacing: -0.6px;
    }
    &__item{
        &-desc{
            margin-top: 8px;
            color: $grey;

        }

        & + &{
            margin-top: 31px;
        }
    }
    &__link{
        font-size: 24px;
        transition: .3s;
        color: $black;
        letter-spacing: -0.9px;
        line-height: 27px;
        &:hover{
            color: $blue;
        }
    }
    &__social{
        margin: 27px 0 20px;
    }
}