.header{
    position: sticky;
    left: 0;
    top: 0;
    padding: 10px 0;
    background-color: $white;
    z-index: 1200;
    &__logo{
        margin-right: 15px;
    }
    &__buttons{
        display: flex;
        margin: 0 -5px 0 auto;
        @include for-sm(){
            margin: 0 -5px 0 19px;
        }
        @include for-md(){
            display: none;
        }
    }
    &__button{
        & + &{
            margin-left: 10px;
        }
        a,button{
            background-color: transparent;
            border: none;
            outline: none;
            display: block;
            height: 34px;
            width: 34px;
            padding: 5px;
            box-sizing: border-box;

            svg{
                display: block;
                height: 100%;
                width: 100%;
                fill: $black;
            }
        }
        &--phone{
            @include for-sm(){
                display: none;
            }
        }
        &--search{
           
        }
    }
    &__social{
        display: none;
        @include for-md(){
            display: block;
            margin-left: auto;
        }
    }
    &__burger{
        @include for-sm(){
            margin-left: auto;
        }
        @include for-md(){
            display: none;
        }
    }
    &__links{
        display: none;
        @include for-md(){
            display: flex;
            margin-left: 40px;

        }
        @include for-lg(){
            display: flex;
            flex-direction: column;
        }
    }
    &__link-container{
        position: relative;
        box-sizing: border-box;
        & + &{
            margin-left: 20px;
            padding-left: 20px;
            @include for-lg(){
                margin-left: 0;
                margin-top: 5px;
                padding-top: 5px;
                padding-left: 0;
            }
            &:before{
                content: '';
                position: absolute;
                left: 0;
                height: 30px;
                width: 1px;
                background-color: $grey2;
                top: 50%;
                transform: translateY(-50%);
                @include for-lg(){
                    top: 0;
                    left: 0;
                    width: 100%;
                    transform: none;
                    height: 1px;
                    width: 100%;
                }

            }
            

        }
    }
    &__link{
        font-size: 18px;
        color: $black;
        transition: .3s;
        &:hover{
            color: $blue;
        }
    }
}