.map{
    height: 400px;
    &__placemark{
        height: 53px;
        width: 53px;
        border-radius: 50%;
        background-color: $black;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: $blue;

            svg{
                fill: $white;
            }
        }
        svg{
            height: 30px;
            width: 30px;
            transition: .3s;
        }
    }

}
