.page-head{
    position: relative;
    padding: 35px 0 25px;
    margin-bottom: 35px;
    &:before{
        content: '';
        position: absolute;
        left: 10px;
        bottom: 0;
        height: 1px;
        width: calc(100% - 20px);
        background-color: $borderColor;
        @include for-md(){
            display: none;
        }
    }
    @include for-md(){
        margin-bottom: 0;
    }

    + .main-grid{
        padding-top: 0;
        .main-grid__content{
            padding-top: 0;
            @include for-md(){
                padding-top: 40px;
            }
        }
    }

    &__breadcrumbs{
        margin-bottom: 9px;
        @include for-md(){
            margin-bottom: 23px;
        }
    }

    &__title{
        font-size: 32px;
        color: $black;
        font-weight: 400;
        @include for-md(){
            font-size: 40px;
        }
        a{
            font-size: 32px;
            color: $black;
            transition: .3s;
            font-weight: 400;
            @include for-md(){
                font-size: 40px;
            }
            &:hover{
                color: $blue;
            }
        }
    }
    &__info{
        margin: 30px 0 10px;
        @include for-md(){
            margin: 25px 0 10px;
        }
    }
    &__date{
        margin-right: 35px;
    }

    &__search-finded{
        margin-top: 20px;
        font-size: 18px;
        span{
            color: $grey;
        }
    }
}