.previews-card{
    &__row{
        flex-wrap: wrap;
        margin: -10px -5px;
        @include for-sm(){
            margin: -5px;
        }
    }
    &__item-container{
        width: 100%;
        padding: 10px 5px;
        box-sizing: border-box;

        
        @include for-sm(){
           width: 50%;
           padding: 5px;

           &--w33{
            width: 33.3%;
           }
        }
    }
    &__block{
        padding-top:8px;
        box-sizing: border-box;
        transition: .3s;
    }
    &__item{
        position: relative;
        overflow: hidden;
        display: block;
        border-radius: 10px;

        &--with-anim{
         .previews-card__item-wrap{
            flex-direction: row;
            &:hover{
                .previews-card__block{
                    transform: none;
                }
             }
         }
         .previews-card__block{
            transform: translateY(83%);
         }
        
        }
        &:hover{
            .previews-card__item-wrap{
                background-color: transparent;
            }
            .previews-card__snowflake{
                transform: scale(1) rotate(-900deg) translateX(0);
            }
            .previews-card__item-name{
                color: $white;
            }
            .previews-card__item-bg{
                opacity: 1;
            }
        }
        &-logo{
            align-self: flex-end;
            max-width: 60px;
            margin-bottom: 25px;
        }
        &-wrap{
            position: relative;
            z-index: 5;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 25px 20px;
            background-color: $white;
            border-radius: 10px;
            transition: .3s;
            @include for-sm(){
                min-height: 250px;
                padding: 15px 20px 33px;
            }
           
        }
        &-name{
            font-size: 22px;
            color: $black;
            transition: .3s;
            @include for-sm(){
                margin-top: auto;
            }
        }
        &-bg{
            transition: .3s;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
            opacity: 0;
        }
    }
    &__snowflake{
        position: absolute;
        right: -53px;
        bottom: -53px;
        height: 206px;
        width: 206px;
        z-index: 10;
        
        opacity: .3;
        transform: scale(0.3) translateX(200px);
        // transform: translate(-150px,-150px) rotate(360deg)
        transition: .3s;
    }
    &__list{
        margin-top: 19px;
        list-style: none;
        
        li + li{
            margin-top: 10px;
        }
        a{
            position: relative;
            display: flex;
            align-items: center;
            color: $white;
            font-size: 16px;
            transition: .3s;
            &:before{
                content: '';
                height: 2px;
                width: 0;
                // margin-right: 10px;
                flex-shrink: 0;
                background-color: $white;
                transition: .3s;
            }
            &:hover{
                &:before{
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
   
}