.seminars{
    &-item{
        padding-bottom: 40px;
        &:not(:last-child){
            border-bottom: 1px solid $borderColor;
        }
        &__title{
            font-size: 22px;
            color: $black;
            transition: .3s;
            &:hover{
                color: $blue;
            }
        }
        &__date{
            margin: 10px 0;
        }
        &__desc{
            font-size: 16px;
            margin-bottom: 20px;
        }
        &__button{
            display: inline-flex;
            padding: 10px 40px;
            width: 100%;
            font-size: 14px;
            letter-spacing: 1.4px;
            @include for-sm(){
                width: auto;
            }
        }
    }
    &-item + &-item{
        margin-top: 35px;
    }

}