
$black:#161615;
$blue:#02B2FF;
$grey:#848788;
$white:#fff;
@mixin for-xl {
    @media (min-width: 1200px) { @content; }
}
@mixin for-lg {
    @media (min-width: 992px) { @content; }
}
@mixin for-md {
    @media (min-width: 768px) { @content; }
}
@mixin for-sm {
    @media (min-width: 526px) { @content; }
}
@mixin for-exsm {
    @media (min-width: 320px) { @content; }
}