body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: $black;
    background-color: #F8F9FA;
}
.container{
    max-width: 1460px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    @include for-sm(){
        padding: 0 20px;
    }
   @include for-md(){
    padding: 0 45px;
   }
   @include for-xl(){
    padding: 0 20px;
   }
}
.row{
    display: flex;
    &--align-center{
        align-items: center;
    }
    &--wrap{
        flex-wrap: wrap;
    }
}